<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Members - InfoTech</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button (click)="whatsAppShare()">
    whatsapp
  </ion-button> -->

  <ion-list lines="full">

    <ion-item-sliding class="animated fadeInLeft">
      <ion-item routerLink="/membersdetails">
        <ion-thumbnail slot="start">
          <img src="../../../assets/noImg.png">
        </ion-thumbnail>
        <ion-label>
          <b class="text-danger">Arun kumar</b>
          <p>2003 - E & I</p>
          <p>Manager </p>
          <p>Hardware Testing, Enlighted</p>
          <p>Chennai, India</p>
        </ion-label>
      </ion-item>
      <!-- <ion-item-options side="end">
        <ion-item-option color="warning" (click)="smsFn()">
          <i class="fa fa-comments fa-2x"></i>&nbsp;SMS
        </ion-item-option>
        <ion-item-option color="success" (click)="callFn()">
          <i class="fa fa-phone fa-2x"></i>&nbsp;CALL
        </ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>


    <ion-item-sliding class="animated fadeInRight">
      <ion-item routerLink="/membersdetails">
        <ion-thumbnail slot="start">
          <img src="../../../assets/noImg.png">
        </ion-thumbnail>
        <ion-label>
          <b class="text-danger">Ashok kumar</b>
          <p>1997 - M & P</p>
          <p>Proprietor </p>
          <p>BBS Network</p>
          <p>Chennai, India</p>
        </ion-label>
      </ion-item>
      <!-- <ion-item-options side="end">
        <ion-item-option color="warning" (click)="smsFn()">
          <i class="fa fa-comments fa-2x"></i>&nbsp;SMS
        </ion-item-option>
        <ion-item-option color="success" (click)="callFn()">
          <i class="fa fa-phone fa-2x"></i>&nbsp;CALL
        </ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>

    <ion-item-sliding class="animated fadeInLeft">
      <ion-item routerLink="/membersdetails">
        <ion-thumbnail slot="start">
          <img src="../../../assets/noImg.png">
        </ion-thumbnail>
        <ion-label>
          <b class="text-danger">Avinav Mohanty</b>
          <p>2011 - Electrical</p>
          <p>Design Engineer </p>
          <p>Enlighted Inc</p>
          <p>Chennai, India</p>
        </ion-label>
      </ion-item>
      <!-- <ion-item-options side="end">
        <ion-item-option color="warning" (click)="smsFn()">
          <i class="fa fa-comments fa-2x"></i>&nbsp;SMS
        </ion-item-option>
        <ion-item-option color="success" (click)="callFn()">
          <i class="fa fa-phone fa-2x"></i>&nbsp;CALL
        </ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>

    <ion-item-sliding class="animated fadeInRight">
      <ion-item routerLink="/membersdetails">
        <ion-thumbnail slot="start">
          <img src="../../../assets/noImg.png">
        </ion-thumbnail>
        <ion-label>
          <ion-label>
            <b class="text-danger">Babu Venkatesh</b>
            <p>1998 - Electrical</p>
            <p>Director</p>
            <p> Glosap Consulting Pte Ltd</p>
            <p> India / Singapore / Malayasia</p>
          </ion-label>
        </ion-label>
      </ion-item>
      <!-- <ion-item-options side="end">
        <ion-item-option color="success" (click)="callFn()">
          <i class="fa fa-phone fa-2x"></i>&nbsp;CALL
        </ion-item-option>
        <ion-item-option color="warning" (click)="smsFn()">
          <i class="fa fa-comments fa-2x"></i>&nbsp;SMS
        </ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>

    <ion-item-sliding class="animated fadeInLeft">
      <ion-item routerLink="/membersdetails">
        <ion-thumbnail slot="start">
          <img src="../../../assets/noImg.png">
        </ion-thumbnail>
        <ion-label>
          <b class="text-danger">Suresh Kumar</b>
          <p>2016 - Computer Science</p>
          <p>Android Developer </p>
          <p>Test Consulting Pte Ltd</p>
          <p>Chennai, India</p>
        </ion-label>
      </ion-item>
      <!-- <ion-item-options side="end">
        <ion-item-option color="warning" (click)="smsFn()">
          <i class="fa fa-comments fa-2x"></i>&nbsp;SMS
        </ion-item-option>
        <ion-item-option color="success" (click)="callFn()">
          <i class="fa fa-phone fa-2x"></i>&nbsp;CALL
        </ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>

    <ion-item-sliding class="animated fadeInRight">
      <ion-item routerLink="/membersdetails">
        <ion-thumbnail slot="start">
          <img src="../../../assets/noImg.png">
        </ion-thumbnail>
        <ion-label>
          <b class="text-danger">Arun kumar</b>
          <p>2003 - E & I</p>
          <p>Manager </p>
          <p>Hardware Testing, Enlighted</p>
          <p>Chennai, India</p>
        </ion-label>
      </ion-item>
      <!-- <ion-item-options side="end">
        <ion-item-option color="warning" (click)="smsFn()">
          <i class="fa fa-comments fa-2x"></i>&nbsp;SMS
        </ion-item-option>
        <ion-item-option color="success" (click)="callFn()">
          <i class="fa fa-phone fa-2x"></i>&nbsp;CALL
        </ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>


    <ion-item-sliding class="animated fadeInLeft">
      <ion-item routerLink="/membersdetails">
        <ion-thumbnail slot="start">
          <img src="../../../assets/noImg.png">
        </ion-thumbnail>
        <ion-label>
          <b class="text-danger">Ashok kumar</b>
          <p>1997 - M & P</p>
          <p>Proprietor</p>
          <p>BBS Network</p>
          <p>Chennai, India</p>
        </ion-label>
      </ion-item>
      <!-- <ion-item-options side="end">
        <ion-item-option color="success" (click)="callFn()">
          <i class="fa fa-phone fa-2x"></i>&nbsp;CALL
        </ion-item-option>
        <ion-item-option color="warning" (click)="smsFn()">
          <i class="fa fa-comments fa-2x"></i>&nbsp;SMS
        </ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>

    <ion-item-sliding class="animated fadeInRight">
      <ion-item routerLink="/membersdetails">
        <ion-thumbnail slot="start">
          <img src="../../../assets/noImg.png">
        </ion-thumbnail>
        <ion-label>
          <b class="text-danger">Avinav Mohanty</b>
          <p>2011 - Electrical</p>
          <p>Design Engineer </p>
          <p>Enlighted Inc</p>
          <p>Chennai, India</p>
        </ion-label>
      </ion-item>
      <!-- <ion-item-options side="end">
        <ion-item-option color="success" (click)="callFn()">
          <i class="fa fa-phone fa-2x"></i>&nbsp;CALL
        </ion-item-option>
        <ion-item-option color="warning" (click)="smsFn()">
          <i class="fa fa-comments fa-2x"></i>&nbsp;SMS
        </ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>

    <ion-item-sliding class="animated fadeInLeft">
      <ion-item routerLink="/membersdetails">
        <ion-thumbnail slot="start">
          <img src="../../../assets/noImg.png">
        </ion-thumbnail>
        <ion-label>
          <b class="text-danger">Babu Venkatesh</b>
          <p>1998 - Electrical</p>
          <p>Director</p>
          <p> Glosap Consulting Pte Ltd</p>
          <p> India / Singapore / Malayasia</p>
        </ion-label>
      </ion-item>
      <!-- <ion-item-options side="end">
        <ion-item-option color="warning" (click)="smsFn()">
          <i class="fa fa-comments fa-2x"></i>&nbsp;SMS
        </ion-item-option>
        <ion-item-option color="success" (click)="callFn()">
          <i class="fa fa-phone fa-2x"></i>&nbsp;CALL
        </ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>

    <ion-item-sliding class="animated fadeInRight">
      <ion-item routerLink="/membersdetails">
        <ion-thumbnail slot="start">
          <img src="../../../assets/noImg.png">
        </ion-thumbnail>
        <ion-label>
          <b class="text-danger">Suresh Kumar</b>
          <p>2016 - Computer Science</p>
          <p>Android Developer </p>
          <p>Test Consulting Pte Ltd</p>
          <p>Chennai, India</p>
        </ion-label>
      </ion-item>
      <!-- <ion-item-options side="end">
        <ion-item-option color="warning" (click)="smsFn()">
          <i class="fa fa-comments fa-2x"></i>&nbsp;SMS
        </ion-item-option>
        <ion-item-option color="success" (click)="callFn()">
          <i class="fa fa-phone fa-2x"></i>&nbsp;CALL
        </ion-item-option>
      </ion-item-options> -->
    </ion-item-sliding>

  </ion-list>



</ion-content>