* {
    outline: none;
}

.myBg {
    --background: linear-gradient(180deg, rgb(28, 220, 175) 0%, rgb(15, 167, 144) 68%, rgb(10, 139, 126) 100%);
}

.error-message {
    color: #f4f5f8;
}
.sideMenuBg {
    background: linear-gradient(180deg, rgb(28, 220, 175) 0%, rgb(15, 167, 144) 68%, rgb(10, 139, 126) 100%);
}