.card-square {
    background: #fff;
    border-radius: 20px;
    height: 120px;
    // width: auto;
    padding-top:25px;
    position: relative;
    text-align: center;
}

.card {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.20);
}