<app-topbar pagetitle="Business Categories"></app-topbar>
<ion-content>
    <ion-searchbar (ionInput)="onSearch($event)" placeholder="Search"></ion-searchbar>
    <ion-grid>
        <ion-row>

            <ion-col *ngFor="let j of json" size="4" class="animated rubberBand">
                <div class="card-square card">
                    <img [src]="j.img" class="ion-padding-start ion-padding-end">
                    <ion-text color="success">{{j.title}}</ion-text>
                </div>
            </ion-col>
        
            <!-- <ion-col size="4" class="animated rubberBand">
                <div class="card-square card">
                    <img src="../../../assets/diamond.png" class="ion-padding-start ion-padding-end">
                    <ion-text color="success">Diamonds</ion-text>
                </div>
            </ion-col>

            <ion-col size="4" class="animated rubberBand">
                <div class="card-square card">
                    <img src="../../../assets/education.png" class="ion-padding-start ion-padding-end">
                    <ion-text color="success">Education</ion-text>
                </div>
            </ion-col>

            <ion-col size="4" class="animated rubberBand">
                <div class="card-square card">
                    <img src="../../../assets/electrical.png" class="ion-padding-start ion-padding-end">
                    <ion-text color="success">Electrical</ion-text>
                </div>
            </ion-col>
            <ion-col size="4" class="animated rubberBand">
                <div class="card-square card">
                    <img src="../../../assets/energy.png" class="ion-padding-start ion-padding-end">
                    <ion-text color="success">Energy</ion-text>
                </div>
            </ion-col>

            <ion-col size="4" class="animated rubberBand">
                <div class="card-square card">
                    <img src="../../../assets/leaf.png" class="ion-padding-start ion-padding-end">
                    <ion-text color="success">Environment</ion-text>
                </div>
            </ion-col>


            <ion-col size="4" class="animated rubberBand">
                <div class="card-square card">
                    <img src="../../../assets/financial.png" class="ion-padding-start ion-padding-end">
                    <ion-text color="success">Financial</ion-text>
                </div>
            </ion-col>
            <ion-col size="4" class="animated rubberBand">
                <div class="card-square card">
                    <img src="../../../assets/government.png" class="ion-padding-start ion-padding-end">
                    <ion-text color="success">Government</ion-text>
                </div>
            </ion-col>

            <ion-col size="4" class="animated rubberBand">
                <div class="card-square card">
                    <img src="../../../assets/`.png" class="ion-padding-start ion-padding-end">
                    <ion-text color="success">Health Care</ion-text>
                </div>
            </ion-col> -->
        </ion-row>
    </ion-grid>
</ion-content>
<!-- <ion-footer>
    <ion-title class="ion-text-center">
        <ion-button (click)="logutfn()" color="success">
            Logout
        </ion-button>
    </ion-title>
</ion-footer> -->