<ion-content class="ion-padding-top myBg">
  <div class="ion-text-center ion-padding">
    <img class="rounded-circle" alt="75x75" src="assets/logo.png" style="width: 150px; height: 150px;">
    <p>
      <ion-text color="light">
        <h3>FORGOT PASSWORD</h3>
      </ion-text>
    </p>
  </div>

  <form class="ion-padding" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
    <ion-item>
      <ion-label position="floating" color="light">Email *
      </ion-label>
      <ion-input type="text" formControlName="email" color="light" clearOnEdit="false"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of errorMsg.validationMSG.email">
        <div class="error-message"
          *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="ion-padding-top ion-text-center">
      <ion-button size="large" expand="block" fill="outline" color="light" type="submit"
        [disabled]="!validationsForm.valid">SEND
      </ion-button>
    </div>

    <div class="ion-padding-start ion-text-center" >
      <!-- <ion-text class="ion-text-left" color="light" routerLink="/forgotpwd" routerDirection="forward">Forgot your password?
      </ion-text> -->
      <ion-text color="light" routerLink="/login" routerDirection="forward">Existing User? Log In
      </ion-text>
    </div>
    

  </form>

</ion-content>
